.workspace {
    padding: 20px;
    margin: auto;
    display: flex; /* Гарантирует адаптивное расположение элементов */
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Центрируем содержимое по вертикали */
    overflow: auto; /* Включаем прокрутку, если контент не помещается */
    box-sizing: border-box; /* Учитываем padding в размере элемента */
}
