.container_main {
    display: inline-flex;
    gap: 60%
}

.container_menus {
    display: inline-block;
    margin-right: 5px;
}

.titleAndMenu {
    display: flex;
    flex-direction: column;
}

.title {
    background: none;
    height: var(--titleHeight);
    border: 1px solid transparent;
    border-radius: 4px !important;
    padding: 1px 6px;
    font-size: 18px;
    width: 167px;
    margin: 0;
    min-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textColor);
}

.slideShow {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
}